/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ~~~~~~~~~~~~~~~~~~~ Desktop ~~~~~~~~~~~~~~~~~~~~~~
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 @font-face {
  font-family: basis-grotesque-regular-pro;
  src: url('font/basis-grotesque-regular-pro.eot');
  src: url('font/basis-grotesque-regular-pro.eot?#iefix') format('embedded-opentype'),
      url('font/basis-grotesque-regular-pro.woff') format('woff'),
      url('font/basis-grotesque-regular-pro.woff2') format('woff2'),
      url('font/basis-grotesque-regular-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: .45vw;
}

body {
  color: #222;
  font-family: basis-grotesque-regular-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  font-size: 16rem;
  padding: 32px;
}

a {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 24px;
}

a, .link{
  color: #222;
  position: relative;
  text-decoration: underline;
  z-index: 99999;
}

img {
  /* max-width: 500px; */
  padding: 0;
  margin: 0 0 32ox 9;
  max-width: 100%;
}

a:hover {
  color: pink;
}

.project--info {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.thumbnails--home {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;

}

.thumbnails--home ul {
  list-style-type: none;
  padding: 0 32px;
}

.thumbnails--home ul:nth-child(2) {
  margin-top: 128px;
}

.thumbnails--home a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.thumbnails--home .project--info p {
  color: #a0a0a0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ~~~~~~~~~~~~~~~~~~~ mobile ~~~~~~~~~~~~~~~~~~~~~~
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

 @media only screen and (max-width: 560px) {
  .main-content {
    font-size: 6vw;
  }
 }
